<form action="/<%= @animal.animal_id %>" method="post"> <!-- this will work as a new form when no ID, so a new form, then an edit form when an ID exists-->
  <div>
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter a name of the animal" value="<%= @animal.name %>">
  </div>
  <div>
    <label>Class</label>
    <input type="text" name="class" placeholder="Enter the species" value="<%= @animal.class %>">
  </div>
  <div>
    <label>Lifespan</label>
    <input type="text" name="lifespan" placeholder="Enter its lifespan" value="<%= @animal.lifespan %>">
  </div>
  <div>
    <label>Diet</label>
    <input type="text" name="diet" placeholder="Enter its diet" value="<%= @animal.diet %>">
  </div>
  <div>
    <label>Habitat</label>
    <input type="text" name="habitat" placeholder="Enter its habitat" value="<%= @animal.habitat %>">
  </div>
  <div>
    <label>Image</label>
    <input type="text" name="image" placeholder="Enter the address of the image" value="<%= @animal.image %>">
    <label>Alt-Tag</label>
    <input type="text" name="alt_tag" placeholder="Enter an alt-tag/description for the image" value="<%= @animal.alt_tag %>">
  </div>
  <div>
    <input type="submit" value="Save Post">
  </div>
  <% if(@animal.animal_id != "") %>
  <input type="hidden" name="_method" value="put">
  <% end %>
</form>
