<h1>Richmond Zoo</h1>
<% @animals.each do |animal| %>
<div>
  <h3>
    <a href="/<%= animal.animalId %>"><%= animal.name %></a>
  </h3>
    <p>Class: <%= animal.class %></p>
    <p>Lifespan: <%= animal.lifespan %></p>
    <p>Diet: <%= animal.diet %></p>
    <p>Habitat: <%= animal.habitat %></p>
    <p>Region: <%= animal.region %></p>
    <img src="<%= animal.image %>" alt="<%= animal.alt_tag %>">
</div>
<% end %>
