<h1>Richmond Zoo: Animal List</h1>
<% @animals.each do |animal| %>
<div>
  <h3>
    <a href="/<%= animal[:id] %>"><%= animal[:name] %></a>
  </h3>
    <p>Species: <%= animal[:species] %></p>
    <p>Lifespan: <%= animal[:lifespan] %></p>
    <p>Diet: <%= animal[:diet] %></p>
    <p>Habitat: <%= animal[:habitat] %></p>
    <img src="<%= animal[:image] %>" alt="<%= animal[:alt_tag] %>">
</div>
<% end %>
